.spoiler {
    color: rgb(0, 150, 150);
    background-color: rgb(0, 150, 150);
}

.spoiler:hover {
    background-color: white;
}
.btn-light {
    display: none;
}
#submit2{
    background-color: white;
    color: black;
    border-radius: 15px
}
#submit2:hover {
color:rgba(100, 0, 255);
box-shadow: 0px 0px 10px black;
}
body {
    background-color: white;
    padding-left: 100px;
    padding-right: 100px;
}

h1 {
    color: rgb(255, 0, 0);
    filter: brightness(85%);
}

h2 {
    font-family: Sans-serif, Serif;
    color: rgb(0, 200, 255);
    filter: brightness(85%);
}

p {
    color: black
}

table {
    color: rgb(0, 150, 150);
}

ol {
    color: rgb(0, 150, 150);
}

ul {
    color: rgb(0, 150, 150);
}